<%- include('./partials/header.ejs')%>
    <%- include('./partials/homenavbar.ejs')%>

        <body>
            <h1>Cadastro de consulta</h1>
            <hr>
            <form method="POST" action="create">
                <input type="text" name="name" id="name" placeholder="Nome do paciente" class="form-control">
                <input type="text" name="email" id="email" placeholder="email@email.com" class="form-control">
                <input type="text" name="cpf" id="cpf" placeholder="cpf" class="form-control cpf">
                <input type="text" name="description" id="description" placeholder="Descrição" class="form-control">
                <input type="date" name="date" placeholder="00/00/0000" id="date" class="form-control">
                <input type="time" name="time" id="time" class="form-control">
                <button class="btn btn-success btn-block">  Agendar</button>


            </form>
        </body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="/js/jquery-3.5.1.min.js"></script>

        <script src="/jquery.mask.min.js"></script>
        <script>
            $('.cpf').mask('000.000.000-00', {
                reverse: true
            });
        </script>

        </html>