<%- include('./partials/header.ejs')%>
    <%- include('./partials/homenavbar.ejs')%>

        <body>
            <div class="container">
                <h1>Sistema de Agendamento</h1>
            </div>
        </body>


        <%- include('./partials/footer.ejs')%>